Data/
ClassEmbeddings+debiasActions.ipynb
DoubleHardDebias.py
**__pycache__/
*.pyc
Figures/
Dump.ipynb
MT_proposal.pdf
Minimal_example.ipynb
INLP.ipynb
*.png
Conseq_original.ipynb
Copia de RunningNotebook_TheVectorSpace.ipynb
RunningNotebook_Consequences.ipynb
RunningNotebook_BiasDirection.ipynb
RunningNotebook_ChangesAlgorithm.ipynb
changesCompleto.py
RunningNotebook_TheVectorSpace.ipynb
INLP.py